/* Responsive */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    
}
/* Responsive */

@media only screen and (max-width: 1450px) {
   
}/*  (max-width: 1450px) */

@media only screen and (min-width: 1200px) {
    .gameCart.row .col-xl-2 {
        width: 20%;
    }
} /*  (max-width: 1260px) */

@media only screen and (max-width: 1200px) {
    .faq_container {
        max-width: 665px;
    }

} /*  (max-width: 1100px) */

@media only screen and (max-width: 1199px) {

    .userBettingList {
        margin-top: 30px;
        height: auto;
    }

    .bettingList {
        height: auto;
        overflow: unset;
    }
    
} /* (max-width: 1199px) */

@media only screen and (min-width: 992px) {
    .MobileDipoWith {
        display: none !important;
    }

} /*  (min-width: 768px) and (max-width: 991px) */

@media only screen and (max-width: 991px) {

    .deskDipoWith {
        display: none !important;
    }

    /* Nav Menu Css Start  */

    a.navbar-brand {
        margin-right: auto;
    }
    
    div#navbarCollapse {
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        background: #13223F;
        z-index: 22;
    }
    
    div#navbarCollapse .navbar-nav {
        padding: 12px;
        display: flex;
        flex-direction: column;
    }
    
    div#navbarCollapse .navbar-nav a.nav-link {
        display: inline-block !important;
        margin: 0;
        max-width: fit-content;
    }
    
    div#navbarCollapse .navbar-nav a.sportMenu.nav-link, div#navbarCollapse .navbar-nav a.gameMenu.nav-link {
        width: 100% !important;
        max-width: unset;
        margin-bottom: 10px;
    }
    

    /* Nav Menu Css End  */

    img.desklogo {
        display: none;
    }

    .Mobilelogo {
        display: block;
    }

    .waxp-dime {
        flex-direction: column;
        max-width: 420px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
        margin-top: -130px;
    }
    
    .waxp-dime .hrLine {
        width: 85%;
        height: 1px;
        border: 0;
        border-bottom: 1.00053px solid #3A5283;
        margin: 27px 0;
    }
    
    .swapBtns {
        flex-direction: column;
        margin-bottom: 15px;
    }
    
    .swapBtns> a {
        margin: 0 0 15px 0;
        width: 100%;
        max-width: 260px;
    }
    
    .exchangeTokken {
        margin-bottom: 20px;
    }
    
    .walletBtnBox {
        margin-bottom: 30px;
    }
    
    .wallet_top {
        padding: 70px 15px 178px;
    }

    .header_area .navbar {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .languageDrop {
        display: none;
    }

    .affilate_content {
        max-width: 415px;
        margin: 0 auto;
    }
    
    .affilate_qr {
        margin-bottom: 13px;
        display: flex;
    }
    
    .the_qr {
        flex-grow: 1;
        padding-right: 15px;
        padding-left: 15px;
    }
    
    .qr_bottom {
        padding: 55px 25px;
        width: 178px;
    }

    .affilate_qr .BlueBtn {
        width: 100%;
    }
    
    .the_qr>img {
        max-width: 95px;
    }

    section.affilate_area {
        padding: 45px 10px 35px 10px;
    }

    .contactUsContainer {
        max-width: 500px;
    }

    .bismlDipoWith.MobileDipoWith {
        text-align: center;
        margin-bottom: 25px;
    }
    
    .bismlDipoWith.MobileDipoWith> * {
        margin: 0 10px;
    }

}/*and (max-width: 991px)*/
    
@media only screen and (min-width: 426px) and (max-width: 767px) {
   
} /* (min-width: 426px) and (max-width: 767px) */
      
@media only screen and (max-width: 767px) {

    .betTitle {
        font-size: 27px;
        line-height: 46px;
        margin-bottom: 25px;
    }
    
    .betUser {
        margin-bottom: 24px;
    }
    
    .betResult {
        width: 400px;
        height: 400px;
    }
    
    .betrow.row {
        margin-top: -159px;
    }
    
    .faq_container {
        max-width: 510px;
    }

    .contactBox {
        padding: 25px 15px;
    }
    
    .contactBox .BlueBtn {
        width: 70px;
    }

    .contactUsContainer {
        max-width: 320px;
    }

    .affilate_content {
        max-width: 320px;
    }

    .affilate_qr h3 {
        font-size: 17px;
    }
    
    .FootermobileMenu {
        display: block;
    }
    
    .footer_content {
        display: none;
    }
    
    ul.footer_nav {
        justify-content: center;
    }

    .gameroundResult> img {
        width: 46px;
        display: inline-block;
        margin: 0 5px;
    }

}/* and (max-width: 767px) */
       
@media only screen and (max-width: 520px) {

    
    .faq_container {
        max-width: 320px;
    }

    .swapModal .modal-dialog {
        max-width: 310px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .swapFormModal.modal-body {
        border-radius: 10px;
    }
    
    .modalTItle {
        font-weight: 400;
        font-size: 20px;
        line-height: 34px;
        max-width: 231px;
    }
    
    span.modalTitleArt {
        max-width: 248px;
        margin-top: -26px;
    }
    
    img.closeModal {
        right: 10px;
        top: 10px;
    }
    
    .waxp-dime {
        max-width: 310px;
        padding: 30px;
    }
    
    .waxp-dime .hrLine {
        width: 100%;
    }
    
    .waxoBox h2 {
        font-size: 20px;
        line-height: 1.3;
    }

    .inputCol input, .inputCol select, .inputCol textarea {
        font-weight: 500;
        font-size: 14.0993px;
        line-height: 17px;
        padding: 11px 23px;
    }
    
    .inputCol {
        margin-bottom: 22px;
    }
    
    .formBtn {
        margin-top: 45px;
    }
    
    .LoginLogo {
        width: 256px;
    }
    
    .alert_box {
        padding: 18px 3px;
        font-weight: 400;
        font-size: 21.3931px;
        line-height: 36px;
    }
    
    .login_container .container {
        max-width: 340px;
        padding: 0 15px;
    }
    
    .loginFormContainer .alert_box {
        width: 100%;
    }

    .blueBtn {
        font-weight: 400;
        font-size: 21px;
        line-height: 36px;
    }

    .betResult {
        width: 270px;
        height: 270px;
        padding-top: 46px;
    }
    
    .betTitle {
        font-size: 16.772px;
        line-height: 28px;
        border-radius: 5px;
    }
    
    .gameCounter h2 {
        font-family: 'Jaldi';
        font-style: normal;
        font-weight: 400;
        font-size: 33.897px;
        line-height: 37px;
        color: #FFFFFF;
    }
    
    .gameCounter {
        font-family: 'Jaldi';
        font-style: normal;
        font-weight: 400;
        font-size: 10.38598px;
        line-height: 14px;
        color: #7AA0E9;
    }
    
    .betColBox .BlueBtn {
        width: 100%;
        font-size: 15.1777px;
        line-height: 23px;
    }
    
    .betUser {
        font-size: 15.507px;
        line-height: 19px;
    }
    
    .betUser span.color-ornage {
        font-size: 11.90435px;
        line-height: 17px;
    }
    
    .betCounters.inputCol input {
        font-size: 14.5198px;
        line-height: 22px;
    }
    
    .betCounters.inputCol {
        margin: 0 auto 20px auto;
    }
    
    .betTitle:after {
        border-radius: 5px;
    }
    
    .betrow.row {
        margin-top: -119px;
    }
    
    .gameroundResult> img {
        width: 34px;
        margin: 0 3px;
    }
    
    .gameRoundTop p {
        margin-bottom: 3px;
    }

    .menuPageTitme {
        display: none;
    }

} /* (max-width: 520px) */
    
@media only screen and (min-width: 320px) and (max-width: 425px) {
	
}     /*  (min-width: 320px) and (max-width: 425px) */

@media only screen and (max-width: 480px) {

} /* (max-width: 480px) */
      
@media only screen and (max-width: 360px) {

} /* (max-width: 360px)  */
   