/* Responsive */

@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Responsive */

@media only screen and (max-width: 1450px) {}

/*  (max-width: 1450px) */

@media only screen and (min-width: 1200px) {
    .gameCart.row .col-xl-2 {
        width: 20%;
    }
}

/*  (max-width: 1260px) */

@media only screen and (max-width: 1200px) {
    .faq_container {
        max-width: 665px;
    }

}

/*  (max-width: 1100px) */

@media only screen and (min-width: 992px) {
    .MobileDipoWith {
        display: none !important;
    }

    .container {
        max-width: 850px;
    }

}


@media only screen and (min-width: 1199px) {

    .container {
        max-width: 950px;
    }
}

@media only screen and (max-width: 1199px) {

    .startCard_area {
        margin-top: 30px;
    }

    .userBettingList {
        margin-top: 30px;
        height: auto;
    }

    .bettingList {
        height: auto;
        overflow: unset;
        max-height: unset;
    }

}

/* (max-width: 1199px) */

/*  (min-width: 768px) and (max-width: 991px) */

@media only screen and (max-width: 991px) {

    .bankrollBox {
        margin-bottom: 25px;
    }

    .deskDipoWith {
        display: none !important;
    }

    /* Nav Menu Css Start  */

    a.navbar-brand {
        margin-right: auto;
    }

    div#navbarCollapse {
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        background: #13223F;
        z-index: 22;
    }

    div#navbarCollapse .navbar-nav {
        padding: 12px;
        display: flex;
        flex-direction: column;
    }

    div#navbarCollapse .navbar-nav a.nav-link {
        display: inline-block !important;
        margin: 0;
        max-width: fit-content;
    }

    div#navbarCollapse .navbar-nav a.sportMenu.nav-link,
    div#navbarCollapse .navbar-nav a.gameMenu.nav-link {
        width: 100% !important;
        max-width: unset;
        margin-bottom: 10px;
    }


    /* Nav Menu Css End  */

    img.desklogo {
        display: none;
    }

    .Mobilelogo {
        display: block;
    }

    .waxp-dime {
        flex-direction: column;
        max-width: 420px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
        margin-top: -130px;
    }

    .waxp-dime .hrLine {
        width: 85%;
        height: 1px;
        border: 0;
        border-bottom: 1.00053px solid #3A5283;
        margin: 27px 0;
    }

    .swapBtns {
        flex-direction: column;
        margin-bottom: 15px;
    }

    .swapBtns>a {
        margin: 0 0 15px 0;
        width: 100%;
        max-width: 260px;
    }

    .exchangeTokken {
        margin-bottom: 20px;
    }

    .walletBtnBox {
        margin-bottom: 30px;
    }

    .wallet_top {
        padding: 70px 15px 178px;
    }

    .header_area .navbar {
        padding-left: 15px;
        padding-right: 15px;
    }

    .languageDrop {
        display: none;
    }

    .affilate_content {
        max-width: 415px;
        margin: 0 auto;
    }

    .affilate_qr {
        margin-bottom: 13px;
        display: flex;
    }

    .the_qr {
        flex-grow: 1;
        padding-right: 15px;
        padding-left: 15px;
    }

    .qr_bottom {
        padding: 55px 25px;
        width: 178px;
    }

    .affilate_qr .BlueBtn {
        width: 100%;
    }

    .the_qr>img {
        max-width: 95px;
    }

    section.affilate_area {
        padding: 45px 10px 35px 10px;
    }

    .contactUsContainer {
        max-width: 500px;
    }

    .bismlDipoWith.MobileDipoWith {
        text-align: center;
        margin-bottom: 25px;
    }

    .bismlDipoWith.MobileDipoWith>* {
        margin: 0 10px;
    }

}

/*and (max-width: 991px)*/

@media only screen and (min-width: 426px) and (max-width: 767px) {}

/* (min-width: 426px) and (max-width: 767px) */

@media only screen and (max-width: 767px) {

    .betTitle {
        font-size: 27px;
        line-height: 46px;
        margin-bottom: 25px;
    }

    .betUser {
        margin-bottom: 24px;
    }

    .betResult {
        width: 400px;
        height: 400px;
    }

    .betrow.row {
        margin-top: -159px;
    }

    .faq_container {
        max-width: 510px;
    }

    .contactBox {
        padding: 25px 15px;
    }

    .contactBox .BlueBtn {
        width: 70px;
    }

    .contactUsContainer {
        max-width: 320px;
    }

    .affilate_content {
        max-width: 320px;
    }

    .affilate_qr h3 {
        font-size: 17px;
    }

    .FootermobileMenu {
        display: block;
    }

    .footer_content {
        display: none;
    }

    ul.footer_nav {
        justify-content: center;
    }

    .gameroundResult>img {
        width: 46px;
        display: inline-block;
        margin: 0 5px;
    }

    a.walletLink.grayBtn>span {
        display: none;
    }

    a.walletLink.grayBtn>img {
        margin: 0;
        width: 28px;
    }

    a.walletLink.grayBtn {
        background: transparent;
        border: 0;
        padding: 0;
    }

    .beatingGroundRow.row {
        flex-direction: column-reverse;
    }

    .beatingGroundRow.row>div {
        width: 100% !important;
    }

    .gameCardStart {
        background: linear-gradient(92deg, rgba(45, 74, 130, 0.3) 0%, rgba(45, 74, 130, 0) 100%);
        border-radius: 3.46815px;
        flex-direction: unset;
        align-items: center;
    }

    .gameCardStart {}

    .gameCardStart .gameCounter {
        margin: 0;
        text-align: left;
        margin-right: auto;
    }

    .gameCardStart .gameCounter p {
        margin: 0;
        font-size: 10px;
    }

    .gameStartCardBox {
        margin: 0 0 0 0;
        display: flex;
    }

    .gameWillCard {
        margin: 0 0 0 10px;
    }

    .gameWillCard img {
        max-width: 50px;
    }

    .gameStartWill {
        margin-bottom: 20px;
    }

    .gameCardItemImg img {
        height: 50px;
        margin-bottom: 13px;
    }

    .bankRollIcon img {
        width: 24px;
    }

    .bankRollIcon {
        height: 84px;
        width: 100px;
    }

    .bankWallet {
        padding: 10px 30px;
    }

    .bankWallet .affilate_number {
        font-size: 19px;
        line-height: 1.5;
    }

    .bankWallet .affilate_number img {
        width: 18px;
    }

    .bankWallet p {
        font-size: 10px;
        line-height: 1;
        margin-bottom: 5px;
    }

    .currentNumber .affilate_number {
        font-size: 24px;
        line-height: 1.5;
    }

    .currentNumber .affilate_number img {
        width: 16px;
    }

    .currentNumber {
        margin-bottom: 20px;
    }

    .bankRollWithdrawBox {
        padding: 20px 40px;
    }

    .bankRollList ul {
        height: auto;
    }

}

/* and (max-width: 767px) */

@media only screen and (max-width: 520px) {


    .faq_container {
        max-width: 320px;
    }

    .swapModal .modal-dialog {
        max-width: 310px;
        margin-left: auto;
        margin-right: auto;
    }

    .swapFormModal.modal-body {
        border-radius: 10px;
    }

    .modalTItle {
        font-weight: 400;
        font-size: 20px;
        line-height: 34px;
        max-width: 231px;
    }

    span.modalTitleArt {
        max-width: 248px;
        margin-top: -26px;
    }

    img.closeModal {
        right: 10px;
        top: 10px;
    }

    .waxp-dime {
        max-width: 310px;
        padding: 30px;
    }

    .waxp-dime .hrLine {
        width: 100%;
    }

    .waxoBox h2 {
        font-size: 20px;
        line-height: 1.3;
    }

    .inputCol input,
    .inputCol select,
    .inputCol textarea {
        font-weight: 500;
        font-size: 14.0993px;
        line-height: 17px;
        padding: 11px 23px;
    }

    .inputCol {
        margin-bottom: 22px;
    }

    .formBtn {
        margin-top: 45px;
    }

    .LoginLogo {
        width: 256px;
    }

    .alert_box {
        padding: 18px 3px;
        font-weight: 400;
        font-size: 21.3931px;
        line-height: 36px;
    }

    .login_container .container {
        max-width: 340px;
        padding: 0 15px;
    }

    .loginFormContainer .alert_box {
        width: 100%;
    }

    .blueBtn {
        font-weight: 400;
        font-size: 21px;
        line-height: 36px;
    }

    .betResult {
        width: 270px;
        height: 270px;
        padding-top: 46px;
    }

    .betTitle {
        font-size: 16.772px;
        line-height: 28px;
        border-radius: 5px;
    }

    .gameCounter h2 {
        font-family: 'Jaldi';
        font-style: normal;
        font-weight: 400;
        font-size: 33.897px;
        line-height: 37px;
        color: #FFFFFF;
    }

    .gameCounter {
        font-family: 'Jaldi';
        font-style: normal;
        font-weight: 400;
        font-size: 10.38598px;
        line-height: 14px;
        color: #7AA0E9;
    }

    .betColBox .BlueBtn {
        width: 100%;
        font-size: 15.1777px;
        line-height: 23px;
    }

    .betUser {
        font-size: 15.507px;
        line-height: 19px;
    }

    .betUser span.color-ornage {
        font-size: 11.90435px;
        line-height: 17px;
    }

    .betCounters.inputCol input {
        font-size: 14.5198px;
        line-height: 22px;
    }

    .betCounters.inputCol {
        margin: 0 auto 20px auto;
    }

    .betTitle:after {
        border-radius: 5px;
    }

    .betrow.row {
        margin-top: -119px;
    }

    .gameroundResult>img {
        width: 34px;
        margin: 0 3px;
    }

    .gameRoundTop p {
        margin-bottom: 3px;
    }

    .menuPageTitme {
        display: none;
    }

    .coinFlipCircle>img {
        display: block;
        width: 100%;
        padding: 0;
    }

    .flipBox {
        padding: 40px 25px;
    }

    .coinFlipCircle {
        width: 90px;
        height: 90px;
    }

    .coinHeadTails {
        width: 130px;
    }

    .coinHeTe {
        padding: 10px 10px 10px 20px;
        font-size: 13px;
        margin: 0 0 8px 0;
    }

    .coinHeTe img {
        width: 22px;
    }

    img.SingleCard {
        width: 20%;
        padding: 3px;
    }
    
    .cardList_area {
        flex-wrap: wrap;
        margin-bottom: 15px;
        padding: 0 10px;
    }
    
    .threeCardBox {
        padding: 20px;
    }
    
    .cardImgText p {
        font-size: 11px;
        line-height: 1;
    }
    
    .cardImgText h3 {
        font-size: 14px;
        line-height: 1.5;
    }
    
    .cardDragBox>h3 {
        font-size: 12px;
    }

    .gameOverModal .modal-body {
        width: 80%;
        max-width: 310px;
        margin: 0 auto;
    }
    
    .gameOverModal .modal-body h2 {
        font-size: 38px;
        line-height: 1.5;
    }
    
    .gameOverModal .modal-body p {
        font-size: 28px;
        line-height: 1.5;
    }
    
}

/* (max-width: 520px) */

@media only screen and (min-width: 320px) and (max-width: 425px) {}

/*  (min-width: 320px) and (max-width: 425px) */

@media only screen and (max-width: 480px) {}

/* (max-width: 480px) */

@media only screen and (max-width: 360px) {}

/* (max-width: 360px)  */